h1 {
    color: white;
    background-color: #cc0000;
    padding: 20px;
    margin: 20px 0 20px 0;
}

h1 a {
    color: white;
    text-decoration: none;
}

h1 a:hover {
    color: #004276;
}

h2 {
    margin: 0;
}

form {
    padding: 15px;
    background: #f9f9f9;
    border: 1px solid #cccccc;
    margin-bottom: 20px;
}

form p {
    margin: 0;
}

label {
    display: block;
}

button.ui-widget {
   font-size: .75em;
}

.ui-button {
   margin: 0;
}

h2#databases {
    margin: 0 0 20px 0;
}

.last {
   margin-bottom: 0px
}

.clickable-header {
   cursor: pointer;
   text-decoration: underline;
}

.hidden {
    display: none
}

.navigation {
    margin: 0 0 20px 0;
}

.db h3, .collection h4 {
    margin: 0;
    padding: 10px;
}

.db:nth-child(even), .collection:nth-child(odd) {
    background-color: #e2e2e2;
}

.fields {
    padding: 10px 0 10px 0;
}

.fields p {
    margin: 0;
}

.fields .fg-button {
    font-size: .45em;
}

.fields p button {
    margin-bottom: 5px;
}

.collection-summary {
    padding: 20px;
    margin-bottom: 15px
}

.collection-summary h3 {
   margin-bottom: 0px;
}

#summary-content {
   margin-top: 1em;
}

#collection-query-form h4 {
   margin-bottom: 5px;
}

#query-items {
   margin: 10px 0 10px 0;
}